doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title RCS

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 RCS

      section(data-bespoke-hash='Diversity Matters')
        h1.bullet RCS Curriculum
        h3.bullet by <a href="http://www.schoolio.co.uk/diary/2017-03-15/" title="RCS Curriculum">Dominic Crowson</a>
                br
                a(href='http://github.com/fcbsd') @fcbsd


      section(data-bespoke-hash='Question')
        h2 The RCS curriculum has a performance based, reflective and collaborative focus.  How can technology enable and enhance learning &amp; teaching in that context?

      section(data-bespoke-hash='Curriculum Elements')
        h1 RCS curriculum 
        ul.bullet
          li Performance
          li Reflective
          li Collaborative

      section(data-bespoke-hash='Research')

      section(data-bespoke-hash='What')
        h2.bullet What can be done?
        br


      section(data-bespoke-hash='How')
        h2 How?
        h3 

      section(data-bespoke-hash='Code')
        h2 Coding
        pre
          code.language-javascript.
                #include &lt;stdio.h&gt;
                void main(void) {
                        printf("Hello World!");
                        return 0;
                }

      section(data-bespoke-hash='Snap!')
      
      section(data-bespoke-hash='The End for Now')
        h2.bullet Just the beginning...
        br
        ul
          li <em>Thank You for Time</em>
          li Dominic Crowson
        br
        ul
          li
            a(href='http://github.com/fcbsd') @fcbsd
          li
            strong :~)

    script(src='build/build.js')
