doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title RCS

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 RCS

      section(data-bespoke-hash='Diversity Matters')
        h1.bullet Supporting Learning
        h2.bullet with the help of technology
        h3.bullet by <a href="http://www.schoolio.co.uk/diary/2017-03-15/" title="RCS Curriculum">Dominic Crowson</a>
                br
                a(href='http://github.com/fcbsd') @fcbsd


      section(data-bespoke-hash='Question')
        h2.bullet The RCS curriculum has a performance based, reflective and collaborative focus.  
        h2.bullet How can technology enable and enhance learning &amp; teaching in that context?

      section(data-bespoke-hash='Curriculum Elements')
        h1 RCS curriculum 
        ul.bullet
          li Performance
          li Reflective
          li Collaborative

      section(data-bespoke-hash='Collaboarative')
        h2.bullet Collaborative
        h3.bullet the situation of two or more people working together to create of achieve the same thing.

      section(data-bespoke-hash='Performance')
        h2.bullet Performance
        h3.bullet how well a person, machine, etc., does a piece of work or an activity

    
      section(data-bespoke-hash='Reflective')
        h2.bullet Reflective
        h3.bullet thinking carefully and quietly


      section(data-bespoke-hash='How')
        h2 How can Technology Improve Learning &amp; Teaching?

      section(data-bespoke-hash='supporting collaboration')
        h2 Supporting Collaboration
        
      section(data-bespoke-hash='supporting performance')
        h2 Supporting Performance
        
      section(data-bespoke-hash='supporting reflection')
        h2 Supporting Reflection


      section(data-bespoke-hash='starting the future here')
        h2.bullet Just the beginning...
        br
        ul
          li <em>Thank You for Time</em>
          li Dominic Crowson
        br
        ul
          li
            a(href='http://github.com/fcbsd') @fcbsd
          li
            strong :~)

    script(src='build/build.js')
