doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Learning &amp; Teaching 

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-hash='LT')
        h1 Learning Technologist Presentation

      section(data-bespoke-hash='Enhancing Learning')
        h1.bullet Enhancing Learning
        h2.bullet with the help of technology
        h3.bullet by <a href="http://www.schoolio.co.uk/diary/" title="Fred Crowson">Fred Crowson</a>
                br
                a(href='http://github.com/fcbsd') @fcbsd


      section(data-bespoke-hash='Vet')
        h1 School of Veterinary Medicine Vision
        h2.bullet exciting, innovative and evolving educational experience
        h2.bullet conduct high quality animal health and biomedical research
        h2.bullet promote knowledge and excellence in the application of veterinary medicine
        h2.bullet inspire both staff and students

      section(data-bespoke-hash='Question')
        h2.bullet How can technology enable and enhance learning &amp; teaching in that context?

      section(data-bespoke-hash='Curriculum Elements')
        h1 RCS curriculum 
        ul.bullet
          li Define the terms
          li Talk about how we can use technology

      section(data-bespoke-hash='Collaboarative')
        h2.bullet Collaborative
        h3.bullet the situation of two or more people working together to create of achieve the same thing.

      section(data-bespoke-hash='Performance')
        h2.bullet Performance
        h3.bullet how well a person, machine, etc., does a piece of work or an activity
    
      section(data-bespoke-hash='Reflective')
        h2.bullet Reflective
        h3.bullet thinking carefully and quietly

      section(data-bespoke-hash='How')
        h2 How can Technology Improve Learning &amp; Teaching?

      section(data-bespoke-hash='supporting collaboration')
        h2 Supporting Collaboration
        ul.bullet
          li.bullet Communication tools provided over the internet
          li.bullet Collaboration on documents 
                li.bullet <a href="https://www.youtube.com/user/VirtualOrchestra" title="Virtual Orchestra">Virtual Orchestra</a>
  
        
      section(data-bespoke-hash='supporting performance')
        h2 Supporting Learning
        ul.bullet
           li.bullet Recording technology (Video and Audio)
           li.bullet Wearable Computing
           li.bullet Augmented Reality 
           li.bullet Virtual Reality
        
      section(data-bespoke-hash='supporting reflection')
        h2 Supporting Reflection

      section(data-bespoke-hash='any questions')
        h2 Any Questions?

      section(data-bespoke-hash='starting the future here')
        h2.bullet Just the beginning...
        br
        ul
          li <em>Thank You for Time</em>
          li Fred Crowson
        ul
          li
            a(href='https://fcbsd.github.io/lt/') @fcbsd
          li
            strong :~)

    script(src='build/build.js')
